<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.AdminDao">
    <resultMap id="my_admin" type="com.liangxunwang.unimanager.model.Admin">
        <id column="mm_manager_id" property="mm_manager_id"/>
        <result column="mm_manager_mobile" property="mm_manager_mobile"/>
        <result column="mm_manager_nickname" property="mm_manager_nickname"/>
        <result column="mm_manager_password" property="mm_manager_password"/>
        <result column="mm_manager_is_use" property="mm_manager_is_use"/>
        <result column="permissions" property="permissions"/>
    </resultMap>

    <select id="findByUsername" resultMap="my_admin" parameterType="String">
        SELECT * from mm_manager WHERE mm_manager_mobile=#{mm_manager_mobile}
    </select>

    <select id="findByEmpId" resultMap="my_admin" parameterType="String">
        SELECT * from mm_manager WHERE mm_manager_id=#{mm_manager_id}
    </select>

    <insert id="add" parameterType="com.liangxunwang.unimanager.model.Admin">
        INSERT INTO mm_manager(mm_manager_id, mm_manager_mobile, mm_manager_nickname, mm_manager_password, mm_manager_is_use)
         VALUES (#{mm_manager_id}, #{mm_manager_mobile}, #{mm_manager_nickname}, #{mm_manager_password}, #{mm_manager_is_use})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM mm_manager WHERE mm_manager_id=#{mm_manager_id}
    </delete>

    <update id="updatePass" parameterType="String">
        UPDATE mm_manager SET mm_manager_password=#{pass} WHERE mm_manager_id=#{id}
    </update>


    <select id="lists" resultMap="my_admin">
        SELECT sn.* from mm_manager sn
        WHERE 1=1
        <if test="mm_manager_is_use != null and mm_manager_is_use != ''">
            AND sn.mm_manager_is_use = #{mm_manager_is_use}
        </if>
        limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.mm_manager_id) FROM mm_manager sn
        WHERE 1=1
        <if test="mm_manager_is_use != null and mm_manager_is_use != ''">
            AND sn.mm_manager_is_use = #{mm_manager_is_use}
        </if>
    </select>


</mapper>