<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.EmpDao">
    <resultMap id="emp" type="com.liangxunwang.unimanager.model.Emp">
        <id column="mm_emp_id" property="mm_emp_id"/>
        <result column="mm_emp_mobile" property="mm_emp_mobile"/>
        <result column="mm_emp_nickname" property="mm_emp_nickname"/>
        <result column="mm_emp_card" property="mm_emp_card"/>
        <result column="mm_emp_cover" property="mm_emp_cover"/>
        <result column="mm_emp_password" property="mm_emp_password"/>
        <result column="mm_emp_type" property="mm_emp_type"/>
        <result column="mm_emp_company" property="mm_emp_company"/>
        <result column="mm_emp_company_type" property="mm_emp_company_type"/>
        <result column="mm_emp_company_address" property="mm_emp_company_address"/>
        <result column="mm_emp_company_detail" property="mm_emp_company_detail"/>
        <result column="mm_emp_provinceId" property="mm_emp_provinceId"/>
        <result column="mm_emp_cityId" property="mm_emp_cityId"/>
        <result column="mm_emp_countryId" property="mm_emp_countryId"/>
        <result column="mm_emp_regtime" property="mm_emp_regtime"/>
        <result column="mm_emp_endtime" property="mm_emp_endtime"/>
        <result column="mm_level_id" property="mm_level_id"/>
        <result column="mm_emp_beizhu" property="mm_emp_beizhu"/>
        <result column="mm_emp_msg_num" property="mm_emp_msg_num"/>
        <result column="is_login" property="is_login"/>
        <result column="is_fabugongying" property="is_fabugongying"/>
        <result column="is_fabuqiugou" property="is_fabuqiugou"/>
        <result column="is_fabuqiugou_see" property="is_fabuqiugou_see"/>
        <result column="is_fabugongying_see" property="is_fabugongying_see"/>
        <result column="is_see_all" property="is_see_all"/>
        <result column="is_use" property="is_use"/>
        <result column="is_pic" property="is_pic"/>
        <result column="is_chengxin" property="is_chengxin"/>
        <result column="is_miaomu" property="is_miaomu"/>
        <result column="lat" property="lat"/>
        <result column="lng" property="lng"/>
        <result column="ischeck" property="ischeck"/>
    </resultMap>
    <resultMap id="emp_vo" type="com.liangxunwang.unimanager.mvc.vo.EmpVO">
        <id column="mm_emp_id" property="mm_emp_id"/>
        <result column="mm_emp_mobile" property="mm_emp_mobile"/>
        <result column="mm_emp_nickname" property="mm_emp_nickname"/>
        <result column="mm_emp_cover" property="mm_emp_cover"/>
        <result column="mm_emp_password" property="mm_emp_password"/>
        <result column="mm_emp_card" property="mm_emp_card"/>
        <result column="mm_emp_type" property="mm_emp_type"/>
        <result column="mm_emp_company" property="mm_emp_company"/>
        <result column="mm_emp_company_type" property="mm_emp_company_type"/>
        <result column="mm_emp_company_address" property="mm_emp_company_address"/>
        <result column="mm_emp_company_detail" property="mm_emp_company_detail"/>
        <result column="mm_emp_provinceId" property="mm_emp_provinceId"/>
        <result column="mm_emp_cityId" property="mm_emp_cityId"/>
        <result column="mm_emp_countryId" property="mm_emp_countryId"/>
        <result column="mm_emp_regtime" property="mm_emp_regtime"/>
        <result column="mm_emp_endtime" property="mm_emp_endtime"/>
        <result column="mm_level_id" property="mm_level_id"/>
        <result column="mm_emp_beizhu" property="mm_emp_beizhu"/>
        <result column="mm_emp_msg_num" property="mm_emp_msg_num"/>
        <result column="is_login" property="is_login"/>
        <result column="is_fabugongying" property="is_fabugongying"/>
        <result column="is_fabuqiugou" property="is_fabuqiugou"/>
        <result column="is_fabuqiugou_see" property="is_fabuqiugou_see"/>
        <result column="is_fabugongying_see" property="is_fabugongying_see"/>
        <result column="is_see_all" property="is_see_all"/>
        <result column="is_use" property="is_use"/>
        <result column="is_pic" property="is_pic"/>
        <result column="is_chengxin" property="is_chengxin"/>
        <result column="is_miaomu" property="is_miaomu"/>
        <result column="lat" property="lat"/>
        <result column="lng" property="lng"/>
        <result column="ischeck" property="ischeck"/>

        <result column="levelName" property="levelName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="areaName" property="areaName"/>
    </resultMap>

    <select id="listMemberByName" resultMap="emp_vo">
        SELECT sn.* ,lev.mm_level_name as levelName, hatp.province as provinceName, hatc.city as cityName, hata.area as areaName  from mm_emp sn
        LEFT JOIN mm_level lev ON sn.mm_level_id=lev.mm_level_id
        LEFT JOIN hat_province hatp ON sn.mm_emp_provinceId=hatp.provinceID
        LEFT JOIN hat_city hatc ON sn.mm_emp_cityId=hatc.cityID
        LEFT JOIN hat_area hata ON sn.mm_emp_countryId=hata.areaID
        WHERE 1=1
        <if test="mm_emp_type != null and mm_emp_type != ''">
        AND sn.mm_emp_type = #{mm_emp_type}
        </if>
        <if test="mm_emp_company_type != null and mm_emp_company_type != ''">
        AND sn.mm_emp_company_type = #{mm_emp_company_type}
        </if>
        <if test="mm_level_id != null and mm_level_id != ''">
        AND sn.mm_level_id = #{mm_level_id}
        </if>
        <if test="ischeck != null and ischeck != ''">
        AND sn.ischeck = #{ischeck}
        </if>

        <if test="mm_emp_provinceId != null and mm_emp_provinceId != ''">
            AND sn.mm_emp_provinceId = #{mm_emp_provinceId}
        </if>
        <if test="mm_emp_cityId != null and mm_emp_cityId != ''">
            AND sn.mm_emp_cityId = #{mm_emp_cityId}
        </if>
        <if test="mm_emp_countryId != null and mm_emp_countryId != ''">
            AND sn.mm_emp_countryId = #{mm_emp_countryId}
        </if>

        ORDER BY sn.mm_emp_regtime DESC limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.mm_emp_id) FROM mm_emp sn
        LEFT JOIN mm_level lev ON sn.mm_level_id=lev.mm_level_id
        LEFT JOIN hat_province hatp ON sn.mm_emp_provinceId=hatp.provinceID
        LEFT JOIN hat_city hatc ON sn.mm_emp_cityId=hatc.cityID
        LEFT JOIN hat_area hata ON sn.mm_emp_countryId=hata.areaID
        WHERE 1=1
        <if test="mm_emp_type != null and mm_emp_type != ''">
            AND sn.mm_emp_type = #{mm_emp_type}
        </if>
        <if test="mm_emp_company_type != null and mm_emp_company_type != ''">
            AND sn.mm_emp_company_type = #{mm_emp_company_type}
        </if>
        <if test="mm_level_id != null and mm_level_id != ''">
            AND sn.mm_level_id = #{mm_level_id}
        </if>
        <if test="ischeck != null and ischeck != ''">
            AND sn.ischeck = #{ischeck}
        </if>

        <if test="mm_emp_provinceId != null and mm_emp_provinceId != ''">
            AND sn.mm_emp_provinceId = #{mm_emp_provinceId}
        </if>
        <if test="mm_emp_cityId != null and mm_emp_cityId != ''">
            AND sn.mm_emp_cityId = #{mm_emp_cityId}
        </if>
        <if test="mm_emp_countryId != null and mm_emp_countryId != ''">
            AND sn.mm_emp_countryId = #{mm_emp_countryId}
        </if>

    </select>


    <update id="update" parameterType="com.liangxunwang.unimanager.model.Emp">
        UPDATE mm_emp SET mm_emp_nickname=#{mm_emp_nickname},
        mm_emp_mobile=#{mm_emp_mobile},
        mm_emp_card=#{mm_emp_card},
        mm_emp_type=#{mm_emp_type},
        mm_emp_company=#{mm_emp_company},
        mm_emp_company_type=#{mm_emp_company_type},
        mm_emp_company_address=#{mm_emp_company_address},
        mm_emp_company_detail=#{mm_emp_company_detail},
        mm_emp_provinceId=#{mm_emp_provinceId},
        mm_emp_cityId=#{mm_emp_cityId},
        mm_emp_countryId=#{mm_emp_countryId},
        mm_emp_regtime=#{mm_emp_regtime},
        mm_emp_endtime=#{mm_emp_endtime},
        mm_level_id=#{mm_level_id},
        mm_emp_beizhu=#{mm_emp_beizhu},
        mm_emp_msg_num=#{mm_emp_msg_num},
        is_login=#{is_login},
        is_fabugongying=#{is_fabugongying},
        is_fabuqiugou=#{is_fabuqiugou},
        is_fabugongying_see=#{is_fabugongying_see},
        is_fabuqiugou_see=#{is_fabuqiugou_see},
        is_see_all=#{is_see_all},
        is_pic=#{is_pic},
        is_chengxin=#{is_chengxin},
        is_miaomu=#{is_miaomu},
        is_use=#{is_use},
        lat=#{lat},
        lng=#{lng},
        ischeck=#{ischeck}
        WHERE mm_emp_id=#{mm_emp_id}
    </update>

    <select id="findById" resultMap="emp_vo" parameterType="String">
         SELECT sn.* ,lev.mm_level_name as levelName, hatp.province as provinceName, hatc.city as cityName, hata.area as areaName  from mm_emp sn
        LEFT JOIN mm_level lev ON sn.mm_level_id=lev.mm_level_id
        LEFT JOIN hat_province hatp ON sn.mm_emp_provinceId=hatp.provinceID
        LEFT JOIN hat_city hatc ON sn.mm_emp_cityId=hatc.cityID
        LEFT JOIN hat_area hata ON sn.mm_emp_countryId=hata.areaID
        WHERE sn.mm_emp_id=#{mm_emp_id}
    </select>


    <select id="findByMobile" parameterType="String" resultMap="emp_vo">
        SELECT sn.* ,lev.mm_level_name as levelName, hatp.province as provinceName, hatc.city as cityName, hata.area as areaName  from mm_emp sn
        LEFT JOIN mm_level lev ON sn.mm_level_id=lev.mm_level_id
        LEFT JOIN hat_province hatp ON sn.mm_emp_provinceId=hatp.provinceID
        LEFT JOIN hat_city hatc ON sn.mm_emp_cityId=hatc.cityID
        LEFT JOIN hat_area hata ON sn.mm_emp_countryId=hata.areaID
        WHERE sn.mm_emp_mobile=#{mm_emp_mobile}
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.Emp">
        INSERT INTO mm_emp(mm_emp_id, mm_emp_mobile, mm_emp_nickname,mm_emp_card, mm_emp_password, mm_emp_type, mm_emp_company, mm_emp_company_type, mm_emp_company_address, mm_emp_company_detail, mm_emp_provinceId, mm_emp_cityId, mm_emp_countryId, mm_emp_regtime, mm_emp_endtime, mm_level_id, mm_emp_beizhu, mm_emp_msg_num, is_login, is_fabugongying, is_fabuqiugou, is_fabuqiugou_see, is_fabugongying_see, is_see_all, is_use, is_pic, is_chengxin, is_miaomu, lat, lng, ischeck)
        VALUES  (#{mm_emp_id}, #{mm_emp_mobile},#{mm_emp_nickname}, #{mm_emp_card,jdbcType=VARCHAR}, #{mm_emp_password},#{mm_emp_type},#{mm_emp_company},#{mm_emp_company_type},#{mm_emp_company_address,jdbcType=VARCHAR},#{mm_emp_company_detail,jdbcType=VARCHAR},#{mm_emp_provinceId},#{mm_emp_cityId},#{mm_emp_countryId},#{mm_emp_regtime},#{mm_emp_endtime,jdbcType=VARCHAR},#{mm_level_id},#{mm_emp_beizhu,jdbcType=VARCHAR},#{mm_emp_msg_num},#{is_login},#{is_fabugongying},#{is_fabuqiugou},#{is_fabuqiugou_see},#{is_fabugongying_see},#{is_see_all},#{is_use},#{is_pic},#{is_chengxin},#{is_miaomu},#{lat},#{lng},#{ischeck})
    </insert>

    <update id="updateLoacation" parameterType="com.liangxunwang.unimanager.model.Emp">
        UPDATE mm_emp SET
        lat=#{lat},
        lng=#{lng}
        WHERE mm_emp_id=#{mm_emp_id}
    </update>

    <update id="updatePwr" parameterType="com.liangxunwang.unimanager.model.Emp">
        UPDATE mm_emp SET
        mm_emp_password=#{mm_emp_password}
        WHERE mm_emp_mobile=#{mm_emp_mobile}
    </update>

</mapper>