<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.FeiyongDao">
    <resultMap id="feiyong" type="com.liangxunwang.unimanager.model.FeiyongObj">
        <id column="mm_feiyong_id" property="mm_feiyong_id"/>
        <result column="mm_feiyong_name" property="mm_feiyong_name"/>
        <result column="mm_feiyong_jine" property="mm_feiyong_jine"/>
    </resultMap>

    <select id="lists" resultMap="feiyong">
        SELECT * from mm_feiyong
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.FeiyongObj">
        INSERT INTO mm_feiyong(mm_feiyong_id, mm_feiyong_name, mm_feiyong_jine)
        VALUES (#{mm_feiyong_id}, #{mm_feiyong_name}, #{mm_feiyong_jine})
    </insert>


    <delete id="delete" parameterType="String">
        DELETE FROM mm_feiyong where mm_feiyong_id = #{mm_feiyong_id}
    </delete>

    <select id="findById" parameterType="String" resultMap="feiyong">
        SELECT * FROM mm_feiyong where mm_feiyong_id=#{mm_feiyong_id}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.FeiyongObj">
        UPDATE mm_feiyong SET mm_feiyong_name=#{mm_feiyong_name}, mm_feiyong_jine=#{mm_feiyong_jine} WHERE mm_feiyong_id=#{mm_feiyong_id}
    </update>

</mapper>